extends layout

block includes
    link(href="/stylesheets/dashboard.css" rel="stylesheet")

block content
    .row
        .col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
            h1 #{user.username}'s dashboard
    .row
        .col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
            h2 Your Posts
            table.table.table-hover
                case posts[0]
                    when undefined
                        tr
                            td No posts yet!
                    default
                        each post in posts
                            tr
                                td: a(href="../#{post.permalink}") #{post.title}
                                td= post.date.toDateString()
                                td: a(href="./edit/#{post.permalink}") Edit
            h2 Your Drafts
            table.table.table-hover
                case drafts[0]
                    when undefined
                        tr
                            td No drafts saved!
                    default
                        each draft in drafts
                            tr
                                td: a(href="../preview/#{draft.permalink}") #{draft.title}
                                td= draft.date.toDateString()
                                td: a(href="./edit/#{draft.permalink}") Edit
    nav.navbar.navbar-default.navbar-fixed-bottom
        .container-fluid
            .navbar-header
                a.navbar-brand.dash-nav(href="./newpost") Write New Post
                a.navbar-brand.dash-nav.pull-right(href="./logout") Logout