extends layout

block content
    h1 Hi #{user.username}, welcome to your dashboard!
    ul.list-inline
        li: a(href="./newPost") Write New Blog Post
        li: a(href="./logout") Logout
    h2 Your Posts
    case posts[0]
        when undefined
            p No posts yet!
        default
            ul.list-unstyled
                each post in posts
                    li: a(href="../#{post.permalink}") #{post.title}
    h2 Your Drafts
    case drafts[0]
        when undefined
            p No drafts saved!
        default
            ul.list-unstyled
                each draft in drafts
                    li: a(href="./edit/#{draft.permalink}") #{draft.title}