extends layout

block content
    .row
        .col-xs-offset-1
            case posts[0]
                when undefined
                    p No posts yet!
                default
                    each post in posts
                        - var date = post.date.toDateString();
                        h3 
                            a.postTitle(href="/#{post.permalink}") #{post.title}
                            br
                            small
                                | written by 
                                a.author(href="/users/#{post.author}") #{post.author} 
                                | on #{date}
                        p.lead #{post.body}