extends layout

block content
    .row
        .col-xs-offset-1.col-sm-7
            case tagPosts[0]
                when undefined
                    p No posts with that tag yet!
                default
                    each post in tagPosts
                        - var date = post.date.toDateString();
                        - var body = post.body.substring(0, 1000);
                        h2 
                            a.postTitle(href="/posts/#{post.permalink}") #{post.title}
                        p.metaInfo
                            |      written by 
                            a.author(href="/users/#{post.author}") #{post.author} 
                            | on #{date}
                        p.lead 
                            | #{body}... 
                            a.postLink(href="/posts/#{post.permalink}" title="See Full Post") >
        include sidebar